.principal {
  display: flex;
  flex-flow: column wrap;
  border-left: 6px solid black;
  padding: 15px;

  .titulo {
    font: 800 clamp(1.75em, 2em + 3vw, 4.5em) Roboto, sans-Serif;
  }

  .subtitulo {
    font: 300 clamp(0.75em, 1em + 2vw, 2.5em) Roboto, sans-Serif;
  }
}

@media (max-width: 650px) {
  .principal {
    border-left: none;
    text-align: center;
  }
}
