@for (projeto of projetos; track projeto) {
    <div *ngIf="projeto.destacado" class="card">
        <div class="container">
            <img src="{{ projeto.imgPath || '/assets/projeto-default.png' }}" alt="Imagem do projeto">
            <div class="divisor">
                <div>
                    <h3 class="titulo">{{ projeto.titulo || "Sem título" }}</h3>
                    <p class="subtitulo">{{ projeto.subtitulo }}</p>
                </div>
                <button (click)="openDialog(projeto)">Mais detalhes</button>
            </div>
        </div>
    </div>
}