<mat-toolbar color="primary" class="fixed">
  <mat-toolbar-row>
    <span>Portfólio</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a href="#sobre-mim">Sobre mim</a>
      </button>
      <button mat-menu-item>
        <a href="#projetos">Projetos</a>
      </button>
      <button mat-menu-item>
        <a href="#contato">Contato</a>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div>
  <div id="principal">
    <app-titulo-descricao
      titulo="{{ titulo }}"
      subtitulo="{{ subtitulo }}"
    >
    </app-titulo-descricao>
  </div>
  <div rowspan="4" id="sobre-mim">
    <div class="container">
      <img src="../assets/foto-default.jpg" alt="Foto de Apresentação">
      <app-caixa-de-texto
        titulo="Sobre Mim"
        texto="Pequeno texto me apresentando."
      ></app-caixa-de-texto>
    </div>
  </div>
  <div id="projetos">
    <div class="container">
      <span class="titulo">Projetos</span>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Repositórios em destaque">
          <div class="cards-container">
            <app-card-projeto [projetos]="listaProjetos"></app-card-projeto>
          </div>
        </mat-tab>
        <div *ngIf="projetoDestacado(false)">
          <mat-tab label="Outros projetos">
            <div class="outros-projetos">
              <app-tabela-projeto [projetos]="listaProjetos"></app-tabela-projeto>
            </div>
          </mat-tab>
        </div>
      </mat-tab-group>     
    </div>
  </div>
  <div id="contato">
    <div class="container">
      <span class="titulo">Contato</span>
      <div class="dados-contato">
        <div *ngIf="contato.linkedin.nome && contato.linkedin.link">
          <img src="../assets/linkedin-icon.png" alt="Linkedin" srcset="">
          <a href="{{ contato.linkedin.link }}">{{ contato.linkedin.nome }}</a>
        </div>
        <div *ngIf="contato.github.nome && contato.github.link">
          <img src="../assets/github-icon.png" alt="Github" srcset="">
          <a href="{{ contato.github.link }}">{{ contato.github.nome }}</a>
        </div>
        <div *ngIf="contato.telefone">
          <img src="../assets/telefone-icon.png" alt="Telefone" srcset="">
          <span mask="(00) 00000-0000">{{ contato.telefone }}</span>
        </div>
        <div *ngIf="contato.email">
          <img src="../assets/email-icon.png" alt="E-mail" srcset="">
          <a href="mailto:{{ contato.email }}">{{ contato.email }}</a>
        </div>
      </div>
    </div>
  </div>
</div>
