<mat-toolbar color="primary" class="fixed">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <a href="#sobre-mim">Sobre mim</a>
      </button>
      <button mat-menu-item>
        <a href="#projetos">Projetos</a>
      </button>
      <button mat-menu-item>
        <a href="#contato">Contato</a>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<mat-grid-list cols="3" [style.background]="'#96a0c8'">
  <mat-grid-tile colspan="3" class="principal">
    <div class="principal linha-vertical">
      <span class="titulo"><strong>Jhonathan Moraes</strong></span>
      <span class="subtitulo">Desenvolvedor Full-stack Junior</span>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="sobre-mim">1</mat-grid-tile>
  <mat-grid-tile>2</mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
  <mat-grid-tile>5</mat-grid-tile>
  <mat-grid-tile>6</mat-grid-tile>
  <mat-grid-tile colspan="3">7</mat-grid-tile>
</mat-grid-list>
