mat-toolbar {
  top: 0;
  position: sticky;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  z-index: 2;
}

mat-toolbar-row {
  justify-content: space-between;
}

div#principal {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
}

div#sobre-mim {
  background: #212433;
  padding: 120px 0px 120px 0px;

  .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;

    img {
      margin: 15px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    }

    app-caixa-de-texto {
      display: flex;
      max-width: 800px;
    }
  }
}

.titulo {
  font: 800 60px Roboto, sans-Serif;
  margin: 40px;
}

div#projetos {
  flex-flow: column wrap;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 1;
  padding: 0 20px 60px 20px;

  mat-tab-group {
    width: 100%;
  }

  .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .cards-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;

      app-card-projeto {
        display: flex;
        flex-flow: row wrap;
      }
    }

    div.outros-projetos {
      padding: 10px;
    }
  }
}

div#contato {
  display: flex;
  justify-content: center;
  background: #3f51b5;
  color: white;
  font: 300 26px Roboto, sans-Serif;
  padding: 60px 0 60px 0;

  .container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .dados-contato {
      display: flex;
      flex-flow: column wrap;
      border-left: 5px solid white;

      div {
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 20px;
      }

      img {
        width: 40px;
        margin: 15px;
      }

      a {
        color: white;
        font-weight: 600;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 950px) {
  div#sobre-mim {
    .container {
      flex-flow: column wrap;
      align-items: center;

      img {
        max-width: 300px;
        border-radius: 100%;
      }
    }
  }

  div#projetos {
    app-card-projeto {
      width: 100%;
    }
  }

  div#contato {
    .container {
      flex-flow: column wrap;

      .lista {
        border: none;

        div {
          flex-flow: column wrap;
          justify-content: space-between;
        }
      }
    }
  }
}
