html {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  background: #4b4b4b;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #161616;
}

a {
  text-decoration: none;
  color: black;
}

img {
    max-width: 400px;
}